.services {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services div h2 {
    font-size: 8rem;
    margin-top: -1rem;
    text-align:center;
    color: var(--color-orange);
    user-select: none;
    -webkit-user-select: none;
}

.services div h2:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
}

.container-services {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
}

.container-services div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 576px) {
    .services {
        margin-bottom: 5rem;
    }

    .services div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
    }

    .services div h2 {
        font-size: 3.5rem;
        margin-top: -1rem;
        text-align:center;
    }
}
