.services {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services div h2 {
    font-size: 8rem;
    margin-top: -1rem;
    text-align:center;
    color: var(--color-orange);
}

.container-services {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
}

.container-services div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-services div h3 {
    font-size: 2.2rem;
    border-bottom: solid .2rem rgb(0,0,0);
    padding: .6rem;
    cursor: pointer;
    font-weight: 600;
}
.container-services div h3:nth-child(6) {
    font-size: 2.2rem;
    border-bottom: none;
    padding: .6rem;
}
