.home div {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .slogan h1 {
    font-size: 12rem;
    text-align: center;
}

.home .slogan h1 span {
    color: var(--color-orange);
    transition: 0.2s;
}

.home .slogan h1 span:hover {
    border-bottom: var(--color-orange) solid .5rem;
    cursor: pointer;
    transition: 0.2s;
}

.container-objetivos {
    z-index: 0;
}

.home div .container-objetivos {
    height: 50%;
    width: 85%;
    display: flex;
    border-top: 1rem solid var(--color-orange);
    border-bottom: 1rem solid var(--color-orange);
    justify-content: space-around;
}

.container-objetivos .items-objetivos {
    height: 90%;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: relative;
}

.container-objetivos div h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.container-objetivos div p {
    text-align: center;
}

.container-objetivos div:nth-child(2) p {
    text-align: center;
    font-size: 1.4rem;
    border-left: .2rem solid var(--color-orange);
    border-right: .2rem solid var(--color-orange);
    padding-left: 2rem;
    padding-right: 2rem;
}

.items-objetivos img {
    display:none;
    max-width: 7.8rem;
    transition: 0.2s;
}

.mision:hover img, .vision:hover img, .valores:hover img {
    display: inline-block;
    position: relative;
    transition: 0.2s;
    bottom: 2rem;
}

.mision:hover img {
    max-width: 6rem;
}

.valores:hover img {
    position: absolute;
    bottom: 16rem;
    width: 20rem;
}
.valores:hover p {
    position: relative;
    top: 2.6rem;
}

.mision:hover h2, .vision:hover h2, .valores:hover h2 {
    display: none;
    transition: 0.2s;
}




@media only screen and (max-width: 1024px) {
    .home .slogan h1 {
        font-size: 6rem;
    }
    .home div .container-objetivos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: none;
        border-bottom: none;
        justify-content: space-around;
    }
    .container-objetivos .items-objetivos {
        height: 90%;
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;

        font-size: 1rem;
    }
    .container-objetivos div:nth-child(2) p {
        text-align: center;
        font-size: 1rem;
        border-left: none;
        border-right:none; 
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container-objetivos div p {
        text-align: center;
    }
    .container-objetivos div h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .items-objetivos:nth-child(2) {
        border-top: .2rem solid var(--color-orange);
        border-bottom: .2rem solid var(--color-orange);
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .home .slogan h1 {
        font-size: 3.5rem;
    }
}